body{
  background-color:#E2E8F0;
  color:white;
}
.header{
  height: 100px;
  background-color:  #0F172A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}
.header img{
  width: 100px;
  margin: 10px ;
}
.fa-bars{
  font-size: 45px;
  cursor: pointer;
  margin-right: 20px;
}
.fa-bars:hover{
  font-size: 50px;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/*sidebar*/
.side-prof{
 display: none;
 padding-left: 0;
 color: #CBD5F1;
}
.sidebar{
  background-color:#1E293B;
  color: white;
  position: fixed;
  bottom: 0;
  top: 100px;
  width: 200px;
  left: 0;
}
.container{
  padding-left: 210px;
  padding-top: 100px;
}
.sidebar div{
  font-size: 20px;
  padding: 40px 30px 40px 30px;
  border-bottom: 1px solid wheat;
  cursor: pointer;
}
.sidebar div:hover{
  background-color: rgb(176, 183, 183);
}
.fa-xmark{
  display: block;
  font-size: 30px;
  position: fixed;
  left: 160px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 3px;
}
.fa-xmark:hover{
  font-size: 32px;
  font-weight: 800;
}
.logout{
  padding: 10px;
  font-size: px;
  background-color: #3B82F6;
}
.profile{
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 0px;
  align-items: center;
  column-gap: 20px;
  justify-content: space-evenly;
   position: fixed;
  bottom: 70px;
  left: 0;
}
.profile a{
  color: rgb(14, 17, 19);
  text-decoration: none;
 
}
.profile :hover{
  background-color: rgba(105, 103, 100, 0.505);
}
.fa-circle-user{
  width: 90px;
  font-size: 50px;
  cursor: pointer;
   padding: 6px;
   margin-left: 0;
}
/*hero section*/
.hero-section {
  margin: 130px 5px 35px 5px;
  background-color: #FFFFFF;
  padding: 37px 45px 15px 45px;
  border-radius: 25px;
box-shadow: 0 6px 18px rgba(0,0,0,0.08);
height: 125px;
align-items: center;
color: black;
width: 10% auto;
}
.visible{
  display: block;
}
